.main {
    margin: 0 1% 1%;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 10px;
    height: 75vh;
    background-image: url("../images/back.jpg");
    }

